<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rgabs.omise">

    <application>
        <activity android:name=".Omise"></activity>
        <activity android:name=".CreditCardInput"></activity>
        <activity
            android:name="co.omise.android.ui.CreditCardActivity"
            android:theme="@style/OmiseSDKTheme" />
        <activity
            android:name="com.rgabs.omise.CreditCardActivity"
            android:theme="@style/OmiseSDKTheme" />
    </application>


</manifest>